version: "3.8"

services:
  geoip2influx:
    image: ghcr.io/gilbn/geoip2influx:latest
    container_name: geoip2influx
    restart: unless-stopped
    environment:
      # InfluxDB v2
      USE_INFLUXDB_V2: "true"
      INFLUXDB_V2_URL: "https://influxdb.deceyec.mx"
      INFLUXDB_V2_ORG: "primary"
      INFLUXDB_V2_BUCKET: "grafana"
      INFLUXDB_V2_TOKEN: "${INFLUXDB_V2_TOKEN}" # colócalo en Dokploy (env)

      # MaxMind (se descarga automáticamente si pasas tus credenciales)
      MAXMINDDB_USER_ID: "${MAXMINDDB_USER_ID}" # en Dokploy
      MAXMINDDB_LICENSE_KEY: "${MAXMINDDB_LICENSE_KEY}" # en Dokploy

      # Rutas internas esperadas por la app
      NGINX_LOG_PATH: "/config/log/nginx/access.log"
      GEOIP_DB_PATH: "/config/geoip/GeoLite2-City.mmdb"

      # Opcionales
      GEO_MEASUREMENT: "geoip2influx"
      LOG_MEASUREMENT: "nginx_access_logs"
      GEOIP2INFLUX_LOG_LEVEL: "info"
      GEOIP2INFLUX_LOG_PATH: "/config/geoip2influx/geoip2influx.log"
    volumes:
      - /etc/dokploy/traefik/log/access.log:/config/log/nginx/access.log:ro
      - /srv/geoip2influx/geoip:/config/geoip
      - /srv/geoip2influx/logs:/config/geoip2influx

    networks:
      - monitoring

networks:
  monitoring:
    external: true
    name: monitoring
